.title_bottom_no_space{
	margin-bottom: 0px;
}

.bottom_space{
	padding-bottom: 20px;
}

.top_space{
	padding-top: 20px
}

#footer_no_top{
	padding-top: 0px;
	margin-top: 0px;
}


#nomOrganisateur {
    margin-top: 0px;
}

/* Custom styles for popin & close button */
.custom {
  color: #555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.custom p {
  padding: 10px 20px;
  margin: 30px 0 0;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}